/**
 * Created by mohit pandey on 27/12/14.
 */

body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:24px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

table {
    /*height: 600px;*/
    width: 100%;
    table-layout: fixed;
}
table tr {
    height: 10%;
    text-align: center;
}
table tr td {
    color: #F51B25;
    border: 1px solid #EFEFEF;
    background: transparent;
    cursor: pointer;
}
table tr td:first-child {
    border-left: 0;
}
table tr td:last-child {
    border-right: 0;
}

.display-container {
    background: #F51B25;
    /*height: 20%;*/
    color: #ffffff !important;
    font-size: 42px;
}
.display-container td, .result-container td {
    color: #ffffff !important;
    border: 0;
    text-align: right;
    padding: 0 10px;
}
.result-container {
    background: #F51B25;
    color: #ffffff !important;
    font-size: 32px;
}
.display-container .display-screen {
    margin-top: 30%;
}